[submodule "network-embedding/benchmarks/KB2E"]
	path = network-embedding/benchmarks/KB2E
	url = https://github.com/thunlp/KB2E.git
[submodule "network-embedding/benchmarks/node2vec"]
	path = network-embedding/benchmarks/node2vec
	url = https://github.com/aditya-grover/node2vec.git
